{% extends '@App/layout.html.twig' %}

{% block title_page %}Test App{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="{{images_public_directory ~ article.photo }}" alt="{{ images_public_directory ~ article.photo }}" class="media-object">
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{ article.title }}</h3>
                    {{ article.content|markdown }}<br><br>
                    <p>Publié {{ article.publishedAt|diff }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for item in article.linkedto %}
                <a href="{{ path('article_one', {'id': item.id, 'menu': item.menu.title,
                                'slug':item.title|escape|replace(" ","_")}) }}">{{ item.title }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}